@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    

    <address>
        University of Pretoria<br /> Lynwood Road<br /> Pretoria<br /> 0002<br /> South Africa
    </address>

    <address>
        <strong>Email</strong>   <a href="mailto:u23667436@tuks.co.za">u23667436@tuks.co.za</a><br />
        
    </address>
</main>